* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-y: scroll;
}

html,
body {
    max-width: 100vw;
    min-width: 256px;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(81, 81, 81, 1);
}
::-webkit-scrollbar-thumb {
    background: rgba(91, 91, 91, 1);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(81, 81, 81, 1);
}

a {
    text-decoration: none;
    color: inherit;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.signin-card {
    width: 512px;
    height: 356px;
}

.home-card {
    width: 256px;
    height: 256px;
}

.margin-top-4px {
    margin-top: 4px;
}

.margin-top-6px {
    margin-top: 6px;
}

.margin-left-8px {
    margin-left: 8px;
}

.margin-side-2rem {
    margin-left: 2rem;
    margin-right: 2rem;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-border {
    border: 0;
}

.padding-2rem {
    padding: 2rem;
}

.padding-1rem {
    padding: 1rem;
}

.padding-top-2rem {
    padding-top: 2rem;
}

.padding-bottom-1rem {
    padding-bottom: 1rem;
}

.padding-bottom-32 {
    padding-bottom: 32px;
}

.padding-side-4 {
    padding-left: 4px;
    padding-right: 4px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.box-center-page {
    height: calc(100vh - 128px);
}

.bg-white {
    background-color: white;
}

.color-black {
    color: black;
}

.line-break-any {
    line-break: anywhere;
}

.font-size-24 {
    font-size: 24px;
}

.pdf-button a {
    text-decoration: none;
    color: #90caf9;
}

.width-100 {
    width: 100%;
}

.width-128 {
    width: 128px;
}

.width-256 {
    width: 256px;
}

.height-100 {
    height: 100%;
}

.bg-red {
    background-color: crimson;
}
