* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    /* color-scheme: dark; */
}

a {
    text-decoration: none;
    color: inherit;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.signin-card {
    width: 512px;
    height: 356px;
}

.home-card {
    width: 256px;
    height: 256px;
}

.padding-2rem {
    padding: 2rem;
}

.padding-1rem {
    padding: 1rem;
}

.text-center {
    text-align: center;
}

body {
    text-align: center;
}

button,
label {
    border: 1px solid white !important;
}

.bg-white {
    background-color: white;
}

.color-black {
    color: black;
}

.padding-side-4 {
    padding-left: 4px;
    padding-right: 4px;
}

.padding-bottom-32 {
    padding-bottom: 32px;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.line-break-any {
    line-break: anywhere;
}

.font-size-24 {
    font-size: 24px;
}

.pdf-button a {
    text-decoration: none;
    color: white;
}
