body {
    text-align: center;
}

button,
label {
    border: 1px solid white !important;
}

.bg-white {
    background-color: white;
}

.color-black {
    color: black;
}

.padding-side-4 {
    padding-left: 4px;
    padding-right: 4px;
}

.padding-bottom-32 {
    padding-bottom: 32px;
}

.display-none {
    display: none;
}

.display-block {
    display: block;
}

.line-break-any {
    line-break: anywhere;
}

.font-size-24 {
    font-size: 24px;
}

.pdf-button a {
    text-decoration: none;
    color: white;
}
